
@tailwind base;
@tailwind components;
@tailwind utilities;
#root{
    min-height: 100vh;
}
.main{
    min-height: 100vh;
}
.todo__searchContainer{
    position: relative;
}

.todo__searchInput:focus + .todo__search{
     color: rgb(71 85 105);
}
.todo__search{
    color: rgb(99 102 241 / 0.4);
    content: '';
    display: block;
    height: 1.4rem;
    width: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
}
